
<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_tag "materialize" %>
    <%= javascript_tag "init" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <nav role="navigation">
    <div class="nav-wrapper container red lighten-2">
    <%= link_to "PARADiSE - By Local From Local", {:controller => 'homepage', :action => "index" }, {:class => "brand-logo white-text", :id => "logo-container" } %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to "Home", {:controller => 'homepage', :action => "index" }, { :class => "white-text" } %>
        </li>
        <li>
          <%= link_to "Features", {:controller => 'features', :action => "index" }, { :class => "white-text" } %>
        </li>
        <li>
          <%= link_to "LOKADiSE", {:controller => 'lokadise', :action => "index" }, { :class => "white-text" } %>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <%= link_to "Home", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li>
          <%= link_to "Features", {:controller => 'features', :action => "index" } %>
        </li>
        <li>
          <%= link_to "LOKADiSE", {:controller => 'lokadise', :action => "index" } %>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
      <h1 style="opacity:0">weird<//h1>
        <h1 class="center red-text text-lighten-2">PARADiSE</h1>
        <div class="row center">
        <br><br>
          <h5 class="header col s12 light">BY LOCAL, FROM LOCAL</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax">
        <%= image_tag("background12.jpg")  %>
    </div>
  </div>

  <br><br><br>                                                                             
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <h6 class="left-align">
            The local villages of Indonesia and other countries in the world certainly have everything they need to offer an amazing touristic experiences. They have beautiful nature and great cultural diversity. Thousands of them are ready to received funding and training from the government and NGOs to start their own local tourism projects.          
          </h6>
          <h5 class="left-align red-text text-lighten-2" style="font-weight:bold">
          But, this is not enough.
          </h5>
          <h6 class="left-align">
          The problem is that they do not have access to 
            <span class="red-text text-lighten-2" style="font-weight:bold">SELL AND PROMOTE</span>
             and this is the reason they failed. Moreover, this represents 
            <span class="red-text text-lighten-2">45 billion</span> market demand opportunities in one of the fastest-growing industries in the world. We believe it's possible and it's the time for them to have this opportunity.          
          </h6>
          <br><br>
          <h4 class="left-align">
          That's why we created <span class="red-text text-lighten-2" style="font-weight:bold">PARADiSE</span>
          </h4>
        </div>
      </div>
    </div>
  </div>


  <br><br>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m5 center-align">
          <%= image_tag("paradise.png", :size => "250x480") %>
        </div>
        <div class="col s12 m7">
          <div class="icon-block">
            <br><br>
            <br>
            <h4 class="red-text text-lighten-2" style="font-weight:bold">BY LOCAL, FROM LOCAL</h4>
            <p style="font-size:3vmin">
            <span style="font-size:2vmax">PARADiSE</span> is 
            <span class="red-text text-lighten-2">a micro-tourism</span> platform that empowers 
            <span class="red-text text-lighten-2">local community</span> to design and sell 
            <span class="red-text text-lighten-2">homemade trips</span> online.
            </p>
            <p style="font-size:3vmin">
            We aspire to turn 
            <span class="red-text text-lighten-2">unemployed local community</span> into successful 
            <span class="red-text text-lighten-2">touristic enterpreneurs</span> in their own villages through an app.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m7 right-align">
          <div class="icon-block">
            <br>
            <p style="font-size:3vmin">
            Not only prospering and 
            <span class="red-text text-lighten-2">opening jobs</span> for local communities, on the other hand, also 
            <span class="red-text text-lighten-2">helps prospective tourists</span> to get an amazing lifetime 
            <span class="red-text text-lighten-2">experience</span> that gives from a place they might not have visited with 
            <span class="red-text text-lighten-2">all itinerary thoroughly scheduled.</span>
            </p>
            <p style="font-size:3vmin">
            </p>
          </div>
        </div>
        <div class="col s12 m5 center-align">
          <%= image_tag("discover.png", :size => "250x480") %>
        </div>
      </div>
    </div>
  </div>
  <br><br>

  <div class="row container">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("bromo.jpg") %>
        </div>
        <div class="card-content center-align" style="font-weight:bold">
          <p>NATURE</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("tari_bali.jpg") %>
        </div>
        <div class="card-content center-align" style="font-weight:bold">
          <p>CULTURE</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("homestay.jpg") %>
        </div>
        <div class="card-content center-align" style="font-weight:bold">
          <p>HOMESTAY</p>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag("batik.jpg") %>
        </div>
        <div class="card-content center-align" style="font-weight:bold">
          <p>LOCAL TALENT</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4 class="left-align red-text text-lighten-2" style="font-weight:bold">A NATURE-CULTURAL TRIP</h4>
          <p class="left-align light">A nature-cultural trip is focused on highlighting: nature, traditions, histories and knowledge from each destiny such as language, handicrafts, etc… PARADiSE offers nature-cultural experiences for two main reasons:</p>
          <ol>
            <li class="left-align light" style="padding-left:0.5em">
              <span style="font-weight:bold">For the traveler:</span> Make the journey a special experience to appreciate the material and intangible elements of the site that do not exist anywhere else in the world in the same way.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
              <span style="font-weight:bold">For the people of the community:</span> Revaluate its heritage and its cultural and natural resources. By gaining a benefit from expressing what they are and what they know, their assets are self-assessed and their self-esteem is strengthened. Both young and old alike consider opportunities not only to preserve but also to expand (regenerate) their community's existence, traditions and culture.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

    <div class="section">
      <div class="row">
        <div class="col s12 m5 center">
            <br><br>
          <%= image_tag("travel.png") %>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <br><br>
            <h5 class="center red-text text-lighten-2" style="font-weight: bold">How to travel with PARADiSE?</h5>

            <p class="light left-align" >You are part of a network of tourists and societies working to establish fairer and more sustainable tourism when you book a trip with one of our hosts. We advise you in PARADiSE and will arrange the trip along with your host according to your needs. At the time of your arrival in the group he or she will take care of everything you need to have an exceptional experience.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m5 center">
          <%= image_tag("payment.png") %>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <h5 class="center red-text text-lighten-2" style="font-weight: bold">Where does my payment go?</h5>

            <p class="light left-align" >75% of the payment goes directly to sponsors, families and local product and service providers. The remaining 25% per cent is intended to finance PARADiSE's money transfer expenses and operational expenses to sustain and extend our network.We want to support the community as a whole and create common interest, so in certain communities a portion of the money goes to the Collective Cultural and Environmental Project Fund.</p>
          </div>
        </div>
      </div>
    </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m7 ">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="red-text text-lighten-2" style="font-weight:bold">MARKET</h4>
          <p class="left-align light">Our segmentation will target tourists, especially in Indonesia, aged 15-40 years old who interested in traveling with an income above IDR 100.000 - IDR 4 million. We will target the market using social media as the main marketing and we would partner with Puteri Indonesia who serves as the ambassador of their province, especially Indonesia to reach tourists also from whole the world. We positioning the image of the "local tourism app" in our various marketing as an end-to-end travel and lifestyle booking platform for the Indonesian region.</p>
        </div>
        <div class="col s12 m5 center-align">
            <br>
            <%= image_tag("market.jpg", :size => "250x250") %>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">By Local, From Local</h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by PARADiSE Team using 
      <a class="brown-text text-lighten-3" href="http://materializecss.com" target="blank">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <%= javascript_include_tag "application" %>

  </body>
</html>