
<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_tag "materialize" %>
    <%= javascript_tag "init" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li class="red-text text-lighten-2">
      <%= link_to "Summary & Evaluation", {:controller => 'homepage', :action => "index" }, {:class => "red-text text-lighten-2"} %>
    </li>
    <li>
      <%= link_to "Questionnaire - General", {:controller => 'homepage', :action => "index" }, {:class => "red-text text-lighten-2"} %>
    </li>
    <li>
      <%= link_to "Questionnaire - PARADiSE Market", {:controller => 'homepage', :action => "index" }, {:class => "red-text text-lighten-2"} %>
    </li>
    <li>
      <%= link_to "Questionnaire - No Traveling Market", {:controller => 'homepage', :action => "index" }, {:class => "red-text text-lighten-2"} %>
    </li>
    <li>
      <%= link_to "In-Depth-Interview", {:controller => 'homepage', :action => "index" }, {:class => "red-text text-lighten-2"} %>
    </li>
  </ul>
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
    <%= link_to "PARADiSE - By Local From Local", {:controller => 'homepage', :action => "index" }, {:class => "brand-logo", :id => "logo-container", :style => "padding-left:2%" } %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to "Home", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li>
          <%= link_to "Features", {:controller => 'features', :action => "index" } %>
        </li>
        <li>
          <%= link_to "MVP", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li>
          <%= link_to "Feasibility", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li><a class="dropdown-trigger" data-target="dropdown1">Market Survey<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <%= link_to "About Us", {:controller => 'homepage', :action => "index" } %>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <%= link_to "Home", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li>
          <%= link_to "Features", {:controller => 'features', :action => "index" } %>
        </li>
        <li>
          <%= link_to "MVP", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li>
          <%= link_to "Feasibility", {:controller => 'homepage', :action => "index" } %>
        </li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Market Survey<i class="material-icons right">arrow_drop_down</i></a></li>
        <li>
          <%= link_to "About Us", {:controller => 'homepage', :action => "index" } %>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" style=" min-height: 300px;">
    <div class="section no-pad-bot">
      <div class="container">
      <h5 style="opacity:0">weird</h5>
        <h1 class="center white-text text-lighten-2">Prototype Features</h1>

        <br><br>

      </div>
    </div>
    <div class="parallax">
        <%= image_tag("background1.jpg")  %>
    </div>
  </div>


    <div class="section">
      <div class="row">
        <div class="col s12 m5 center">
            <br><br>
          <%= image_tag("sign_up.png", :size => "250x480") %>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <br><br>
            <h4 class="center" style="font-weight: bold">REGISTRATION</h4>
            <br>
            <h6 class="center" style="font-weight: bold">SIGN UP (Travelers)</h6>
            <p class="center" style="font-size:2vmin">Click the picture on the side for more, it is recommended to use PC</p>
            <ol>
            <li class="left-align light" style="padding-left:0.5em">
                If you are the first user, click "SIGN UP" on the blue button on the bottom right
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                There are two options "TRAVELER" and "LOKADiSE", if you are a traveler, click "TRAVELER"
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                You are asked to fill in your data such as name, email and password. Click the data column to bring up the keyboard.            
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                When the keyboard appears, click on the keyboard and an illustration of your data will appear.            
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                After that, click "SIGN UP".
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                You have registered and entered Home.
            </li>
          </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s12 m5 center">
            <br><br>
          <%= image_tag("log_in.png", :size => "250x480") %>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <br><br>
            <h4 class="center" style="font-weight: bold">REGISTRATION</h4>
            <br>
            <h6 class="center" style="font-weight: bold">LOG IN</h6>
            <p class="center" style="font-size:2vmin">Click the picture on the side for more, it is recommended to use PC</p>
            <ol>
            <li class="left-align light" style="padding-left:0.5em">
                If you already have an account, click "LOG IN" on the orange button at the bottom left.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                You are asked to fill in your e-mail and password data. Click the data column to bring up the keyboard.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                When the keyboard appears, click on the keyboard and an illustration of your data will appear.            
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                After that, click "SIGN UP".
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                If successful, you enter the Home.
            </li>
          </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s12 m5 center">
            <br><br>
          <%= image_tag("home.png", :size => "250x480") %>
        </div>
        <div class="col s12 m6">
          <div class="icon-block">
            <br><br>
            <h4 class="center" style="font-weight: bold">HOME</h4>
            <p class="center" style="font-size:2vmin">Click the picture on the side for more, it is recommended to use PC</p>
            <ol>
            <li class="left-align light" style="padding-left:0.5em">
                If you have entered "Home", you will see a prototype display features.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                You can scroll, then swipe left and right on the travel menu options (in the Tanjung Kelayang column) or click the next and previous symbols to see other travel options.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                If you are interested in traveling, click on the existing tourist destination you want to go, here, I design at Tanjung Kelayang. Click "Tanjung Kelayang" for more.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                You will be shown in detail the Tanjung Kelayang tourist destination. There are details about location, itinerary, include & exclude, Terms & Conditions, Do's & Dont's, and personal equipment list.
            </li>
            <li class="left-align light" style="padding-left:0.5em">
                If you are interested, you can see the schedule available on the Trip Book, fill in the number of travelers, then click "BOOK NOW" for more.
            </li>
          </ol>
          </div>
        </div>
      </div>
    </div>

  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <%= javascript_include_tag "application" %>

  </body>
</html>